body{ 
  
    background-image: url(exam.jpg);
    margin:0%;
    padding:10px;
    display: flex;
    justify-content:right;
    width:90%;


}
.form-BOX{
    background:rgb(202, 152, 59);
    display:block;
    justify-content: center;
    align-content: center;
    width:auto;
    height:50%vh;
    border-radius:10px;
}
.BOX{
   border-radius: 5px;
    padding: 5px;
    display:flex;
    justify-content: center;
    align-items: center;

    width: auto;


}
.BOX ,input{
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    width:80%;
}
.BOX, label{
    display: block;
    font-family: sans-serif;
     
}
.btn{
    background-color: aquamarine;
   padding: 5px;
   width: 30%;
}
.BOX,h2{
 font-stretch: ultra-expanded;
 background-color: aliceblue;
 align-items:center;

}
